{
  "plugins": ["const-enum", "@babel/transform-typescript"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "59",
          "node": "10"
        }
      }
    ]
  ]
}
