# Do you NOT use publishConfig.registry
# It has more precedence over --registry argument on yarn publish command
# and we need this argument working for our publishing test using verdaccio
# https://github.com/yarnpkg/yarn/issues/8704
registry=https://registry.npmjs.org/
